body {
    /*background: black;*/
    overflow: hidden;
    color: white;
}

p {
    font-family: monospace;
    font-weight: bold;
    font-size: 2vh;
    margin: 0;
    padding: 0;
    line-height: 1;
    white-space: nowrap;
}